package web

import "strconv"

templ Hello(cartVM CartVM) {
	<div>Cart { cartVM.Cart.Uuid } </div>
	<ul>
		for _,item:=range cartVM.Cart.CartItems {
			<li>
				{ item.Uuid } -
				{ item.Product.Name } -
				quantity: { strconv.Itoa(item.Quantity) } -
				price: $ { strconv.Itoa(item.Subtotal) } -
				// TODO: encapsulate
				<a href={ "/cartItem/" + templ.SafeURL(item.Uuid) + "/delete" }>[ X ]</a>
			</li>
		}
	</ul>
}
