package web

import "github.com/gorilla/mux"

templ Template(router *mux.Router, cartVM CartVM) {
<!DOCTYPE html>
<html lang="en">
<style>
</style>

<head></head>

<body>
	<h1>Shopping cart</h1>
	@Hello(router, cartVM)
</body>

</html>
}
