package tmpl

import "store/pkg/models"

templ Hello(cart *models.Cart) {
<div>Cart { cart.Uuid }</div>
<ul>
	for _,item:=range cart.CartItems {
	<li>{ item.Uuid } - { item.Product.Name }</li>
	}
</ul>
}
